*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


:root {
    --background-color: white;
    --board-color: #FDA1A2;
    --buttons-color: white;
    --buttons-active-color: #101820;
}

body {
    font-family: 'Permanent Marker', cursive;
    color: #101820;
}

#container {
    height: 100vh;
}

header {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    font-size: 45px;
    padding: 10px;
    background-color: var(--background-color);
}