*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


:root {
    --background-color: white;
    --board-color: #FDA1A2;
    --buttons-color: white;
    --buttons-active-color: #101820;
}

body {
    font-family: 'Permanent Marker', cursive;
    color: #101820;
}

#container {
    height: 100vh;
}

header {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    font-size: 45px;
    padding: 10px;
    background-color: var(--background-color);
}

main {
    height: 76vh;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

#buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 76vh;
    width: 30%;
    flex-direction: column;
}

#game-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 61vh;
    width: 100%;
    flex-direction: column;
}

.buttons {
    height: 14%;
    width: 35%;
    font-size: 28px;
    border: 2px solid var(--buttons-active-color);
    border-radius: 10px;
    background-color: var(--buttons-color);
    cursor: pointer;
    transition: 0.05s ease-in-out;
    box-shadow: 0px 2px 4px;
    color: #101820;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:active {
    transform: scale(0.95);
}

.active {
    background-color: var(--buttons-active-color);
    box-shadow: none;
    color: white;
    border: none;
}

#restart:active,
#clear:active {
    background-color: var(--buttons-active-color);
    color: white;
}

#restart:active,
#clear:active,
#classic:active,
#AI:active {
    box-shadow: none;
}

#theme-buttons {
    width: 40%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
}

.theme-button {
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.theme-button:hover {
    transform: scale(1.05);
}

#pink {
    background-color:  #FDA1A2;
}

#green {
    background-color:  lightgreen;
}

#purple {
    background-color: #AA96DA;
}

#display-and-gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76vh;
    width: 40%;
}

#display {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

#display-text {
    font-size: 25px;
}

#gameboard {
    height: 80%;
    width: 70%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
}

.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: var(--board-color);
    cursor: pointer;
}

.winning-cell {
    color: white;
}

#score {
    width: 30%;
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 45px;
}

#score-display {
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#clear {
    height: 12%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    background-color: var(--background-color);
}

.fa-github {
    font-size: 40px;
    cursor: pointer;
    transition: 0.1s ease-in;
    color: #101820;
}

.fa-github:hover {
    transform: scale(1.15);
}


/*Media Queries*/

@media screen and (max-width: 1100px) {
    .buttons {
        width: 50%;
    }

    #theme-buttons {
        width: 60%;
    }

    #gameboard {
        width: 80%;
    }

    #display {
        width: 80%;
    }

    #score {
        font-size: 35px;
    }
}

@media screen and (max-width: 900px) {
    #gameboard {
        width: 90%;
        height: 75%;
    }

    #display {
        width: 90%;
    }

    #score {
        font-size: 30px;
    }
}

@media screen and (max-width: 760px) {
    #gameboard {
        width: 100%;
    }

    #display {
        width: 100%;
    }

    .buttons {
        font-size: 23px;
        height: 10%;
    }

    #theme-buttons {
        width: 70%;
    }

    #score {
        font-size: 27px;
    }
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column-reverse;
        height: 86vh;
    }

    header {
        font-size: 38px;
        height: 7vh;
        padding: 5px;
    }

    footer {
        height: 7vh;
    }

    #display-and-gameboard {
        height: 51vh;
        width: 85%;
    }

    #gameboard {
        width: 100%;
        height: 100%;
    }

    #buttons-container {
        width: 100%;
        height: 20vh;
        justify-content: space-evenly;
    }

    .buttons {
        width: 29%;
        height: 55%;
        font-size: 24px;
    }

    #theme-buttons {
        height: 30%;
        width: 70%;
    }

    #game-buttons {
        flex-direction: row;
        height: 50%;
    }

    #score {
        width: 100%;
        font-size: 23px;
        height: 15vh;
        justify-content: flex-start;
    }

    #score-display {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
    }

    #clear {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-github {
        font-size: 35px;
    }

}

@media screen and (min-width: 1800px) {
    header {
        font-size: 60px;
    }

    #display {
        height: 10%;

    }

    #display-text {
        font-size: 35px;
    }

    .cells {
        font-size: 90px;
    }

    .buttons {
        font-size: 45px;
    }

    .theme-button {
        height: 60px;
        width: 60px;
    }

    #score {
        font-size: 55px;
    }

    footer {
        font-size: 45px;
    }

    .fa-github {
        font-size: 55px;
    }
}